{% load static %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'styles/nav.css' %}"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
/>
<link
rel="stylesheet"
type="text/css"
href="{% static 'styles/responsive.css' %}"
/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

<div class="nav-bar-container">
  <div class="logo" onclick=""><a href="{% url 'home' %}" style="text-decoration: none; color: white">OnlyCats</a></div>

  <div class="nav-search"><input type="text" class="search" placeholder="Search... "> </input></div>


      <div class="nav-items">
        <li onclick=showMessages()><a href="#"><i class="fas fa-message"></i></a></li>
        <li><a href="#"><i class="fas fa-bell"></i></a></li>
        <li><a href="#" class="to-hide"><i class="fas fa-plus"></i></a></li>
        <li><a href="#" class="to-hide"><i class="fas fa-film"></i></a></li> <!-- Film reel icon -->
        <li><a href="#" class="to-hide"><i class="fas fa-user"></i></a></li>
      </div>

</div>

<div class="bottom-nav-bar-container">
  <div class="bottom-nav-items">
    <li><a href="#"><i class="fas fa-home"></i></a></li>
    <li><a href="#"><i class="fas fa-plus"></i></a></li>
    <li><a href="#"><i class="fas fa-search"></i></a></li> 
    <li><a href="#"><i class="fas fa-film"></i></a></li> 
    <li><a href="#"><i class="fas fa-user"></i></a></li>
  </div>
</div>
