{% load static %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'styles/search.css' %}"
/>

<link
rel="stylesheet"
type="text/css"
href="{% static 'styles/cat-animation.css' %}"
/>

<link
rel="stylesheet"
type="text/css"
href="{% static 'styles/responsive.css' %}"
/>


<div class="search-container">
    <div class="back" onclick=hideSearchView()>&#8592; </div>

    <div class="search-results-container" id="search-results-container">
   
        <div class="cat">
            <div class="ear ear--left"></div>
            <div class="ear ear--right"></div>
            <div class="face">
                <div class="eye eye--left">
                    <div class="eye-pupil"></div>
                </div>
                <div class="eye eye--right">
                    <div class="eye-pupil"></div>
                </div>
                <div class="muzzle"></div>
            </div>
        </div>
        <div class="search-caption">
            Searching User...
        </div>
        
        

    </div>
</div>


