{% load static %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'styles/stories.css' %}"
/>

<div class="user-stories-container">
    <div class="story-user-profile">
        <img src="./media/profile_pics/default.png" alt="User Profile Picture">
    </div>
    <div class="story-user-profile">
        <img src="./media/profile_pics/default.png" alt="User Profile Picture">
    </div>

    <div class="story-user-profile">
        <img src="./media/profile_pics/default.png" alt="User Profile Picture">
    </div>
    <div class="story-user-profile">
        <img src="./media/profile_pics/default.png" alt="User Profile Picture">
    </div>
    <div class="story-user-profile">
        <img src="./media/profile_pics/default.png" alt="User Profile Picture">
    </div>

    <div class="story-user-profile">
        <img src="./media/profile_pics/default.png" alt="User Profile Picture">
    </div>
    <div class="story-user-profile">
        <img src="./media/profile_pics/default.png" alt="User Profile Picture">
    </div>
    <div class="story-user-profile">
        <img src="./media/profile_pics/default.png" alt="User Profile Picture">
    </div>
    <div class="story-user-profile">
        <img src="./media/profile_pics/default.png" alt="User Profile Picture">
    </div>
    <div class="story-user-profile">
        <img src="./media/profile_pics/default.png" alt="User Profile Picture">
    </div>
    <div class="story-user-profile">
        <img src="./media/profile_pics/default.png" alt="User Profile Picture">
    </div>
    <div class="story-user-profile">
        <img src="./media/profile_pics/default.png" alt="User Profile Picture">
    </div>
    <div class="story-user-profile">
        <img src="./media/profile_pics/default.png" alt="User Profile Picture">
    </div>
    <div class="story-user-profile">
        <img src="./media/profile_pics/default.png" alt="User Profile Picture">
    </div>


    
</div>