{% load static %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'styles/stories.css' %}"
/>
<link
rel="stylesheet"
type="text/css"
href="{% static 'styles/responsive.css' %}"
/>

<div class="user-stories-container">
    <div class="story-user-profile">
        <img src="./media/profile_pics/ccc.jpg" alt="User Profile Picture">
    </div>
    <div class="story-user-profile">
        <img src="./media/profile_pics/111.jpg" alt="User Profile Picture">
    </div>

    <div class="story-user-profile">
        <img src="./media/profile_pics/333.jpg" alt="User Profile Picture">
    </div>
    <div class="story-user-profile">
        <img src="./media/profile_pics/4444.jpg" alt="User Profile Picture">
    </div>
    <div class="story-user-profile">
        <img src="./media/profile_pics/default.png" alt="User Profile Picture">
    </div>

    <div class="story-user-profile">
        <img src="./media/profile_pics/111.jpg" alt="User Profile Picture">
    </div>
    <div class="story-user-profile">
        <img src="./media/profile_pics/222.jpg" alt="User Profile Picture">
    </div>
    <div class="story-user-profile">
        <img src="./media/profile_pics/333.jpg" alt="User Profile Picture">
    </div>
    <div class="story-user-profile">
        <img src="./media/profile_pics/4444.jpg" alt="User Profile Picture">
    </div>
    <div class="story-user-profile">
        <img src="./media/profile_pics/default.png" alt="User Profile Picture">
    </div>
    <div class="story-user-profile">
        <img src="./media/profile_pics/default.png" alt="User Profile Picture">
    </div>
    <div class="story-user-profile">
        <img src="./media/profile_pics/default.png" alt="User Profile Picture">
    </div>
    <div class="story-user-profile">
        <img src="./media/profile_pics/default.png" alt="User Profile Picture">
    </div>
    <div class="story-user-profile">
        <img src="./media/profile_pics/333.jpg" alt="User Profile Picture">
    </div>
</div>