{% load static %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'styles/upload.css' %}"
/>
<link
rel="stylesheet"
type="text/css"
href="{% static 'styles/messages_responsive.css' %}"
/>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">



<div class="upload-overlay" id="upload-overlay" onclick="closeUploadView()">
</div>


<div class="upload-view-container" id="upload-view-container">
    <div class="close-upload-view" onclick="closeUploadView()">
        <i class="fas fa-times"></i>
    </div>

    <div class="upload-user-profile">
        <img src="{{ user_info.profile_picture }}" alt="User Profile Picture" class="upload-profile-pic">
        <span class="upload-username">{{ user_info.fullName }}</span>

    </div>
    
    
    <form id="imageUploadForm" action="{% url 'upload_photo' %}" method="post" enctype="multipart/form-data">
        <!-- CSRF token for security (Django specific) -->
        {% csrf_token %}
        <textarea name="caption" placeholder="Caption" id="caption" rows="4" cols="50" required></textarea>
        <!-- File input to accept images only -->
        <input type="file" id="fileInput" name="photo" accept="image/*" style="display: none;">
        
        <div class="upload-image-container">
            <img id="imagePreview" src="" alt="Image Preview" style="display: none;">
            <button type="button" id="uploadButton">
                <i class="fas fa-file-image" style="margin-right: 5px;"></i> Select Image
            </button>
        </div>
        
        <button type="button" id="changePhotoButton" style="display: none;">
            Change Photo
        </button>
        
        <button type="submit" id="submitButton">Upload</button>
    </form>

</div>    



<script src="{% static 'JS/upload.js' %}"></script>
