

@media screen and (max-width: 1250px) {
    .main-content{
        width: 50%;
        height: 100%;
        margin-left: 2em;
        overflow-y: hidden;
        display: flex;
    
    }
    .nav-items li{
        padding: 1em;
    }

    .side-content{
        width: 20em;
        position: fixed;
        right: 2em;
        top: 5em;
        transition: top 0.3s ease;
    
    }
    .upload-view-container{
        width: 500px;
        height: 550px;
    }
    .upload-image-container{
        height: 260px;
    }
  }

  @media screen and (max-width: 900px) {
    .main-content{
        width: 50%;
        height: 100%;
        margin-left: 1em;
        overflow-y: hidden;
        display: flex;
    
    }
    .story-user-profile img{
        width: 70px;
        height: 70px;
    }
  
    .nav-search input{
        width: 15em;
        margin-left: -7em;
      
    }

    .side-content{
        font-size: 0.9em;
        width: 16em;
        right: 2em;
        top: 5em;
    
    }
  }

  @media screen and (max-width: 735px) {
    .logo{
        left: 20px;
    }
    .nav-items li{
        padding-left: 0.5em;
    }
    .upload-view-container{
        width: 470px;
    }

    
  }
  @media screen and (max-width: 690px) {
    
 
    .nav-search input{
        width: 11em;
      font-size: 0.8em;
    }
    .search-profile-pic{
        width: 55px;
        height: 55px;
    }
    .side-content{
        width: 14em;
    }
    .story-user-profile img{
        width: 62px;
        height: 62px;
    }
    .loggedin-user-profile img{
        width: 60px;
        height: 60px;
    }
    .loggedin-user-profile{
        margin-left: 0;
    }
    .nav-search input{
        display: block;
      
    }
  
  }


  @media screen and (max-width: 640px) {
    .main-content{
        width: 90%;
        height: 100%;
        margin-left: 1em;
    }

    .nav-search input{
        display: none;
      
    }
    .logo{
        font-size: 2em;
        left: 20px;
    }
   
    .user-stories-container{
        margin: 5em 1em 1em 2em; /* Top and bottom margins, and auto for left and right margins */
        width: 90%;
        display: flex;
        overflow-x: scroll;
    }

    .side-content{
        display: none;
    
    }
  }
  @media screen and (max-width: 640px) {
    .bottom-nav-bar-container {
        display: flex;
    }
    .story-user-profile img{
        width: 62px;
        height: 62px;
    }
    .newsfeed-user-post{
        width: 80%;
    }
    .uploader-profile{
        width: 50px;
        height: 50px;
    }

    .uploader-username{
        font-size: 0.9em;
    
    }
    
    .sub-context{
 
        font-size: 0.9em;

    }

  }

  @media screen and (max-width: 640px) {
    .to-hide{
        display: none;
    }

    .back{
        font-size: 2.5em;
        left: 1em;
    }

    .nav-search{
        position: absolute;
        align-self: center;
        color: white;
        justify-content: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .nav-search input{
        margin-left: 0;
        height: 2em;
        width: 20em;
    }

    .nav-items li{
        display: flex;
        padding: 1em;
    }
    .nav-items li a{
        font-size: 1.2em;
    }
    .nav-items{
        display: flex;
        justify-content: flex-end; /* Align items to the end of the container */
        position: absolute;
        right: -5em;
    }
    
  }

  @media screen and (max-width: 561px) {
    .nav-search input{
        width: 12em;
    }
    .logo{
        font-size: 1.5em;
    }

    .main-content{
        min-width: 110%;
        overflow-x:hidden ;
        margin-left: -2em;
    }
    .photo-uploaded{
        margin-left: 0;
    }
    .user-stories-container{
        margin-left: 1em;
    }
    .newsfeed{
        padding: 0;
    }
   
    .search-results-container{
        width: 65%;
    }       
    
    .to-hide{
        display: none;
    }

    .upload-view-container{
        width: 470px;
        height: 550px;
    }
    .upload-image-container{
        height: 260px;
    }
  }

  @media screen and (max-width: 510px) {
    .upload-view-container{
        width: 400px;
        height: 530px;
    }
    .upload-image-container{
        height: 240px;
    }
  }

  @media screen and (max-width: 450px) {

    .upload-view-container{
        width: 350px;
        height: 520px;
    }
    .upload-image-container{
        height: 220px;
    }
    .nav-search{
        display: none;
    }
    .nav-items{
        right: -4em;
    }
    .uploader-username{
        margin-left: 4em;
    }
    .sub-context{
        margin-left: 4em;
    }
    .comments-container{
        font-size: 0.95em;
    }
    .uploader-profile{
        margin-left: 0;
    }
    .user-stories-container{
        margin-top: 3.5em;
    }
    .story-user-profile img{
        width: 57px;
        height: 57px;
    }
    .to-hide{
        display: none;
    }
  }

  @media screen and (max-width: 425px) {
    .comment-profile-pic{
        width: 30px;
        height: 30px;
    }
    .like-comment{
        font-size: 1em;
    }
    .icon-button{
        font-size: 1.1em;
    }

    .comment-text{
        width: 70%;
        font-size: 0.98em;
    }
    .comments-container{
        width: 100%;
    }

    .nav-search input{
        width: 10em;
    }
    .to-hide{
        display: none;
    }

  }

  @media screen and (max-width: 400px) {
    .nav-items{
        right: -5em;
    }
    .upload-view-container{
        width: 320px;
        height: 500px;
    }
    .upload-image-container{
        height: 200px;
        width: 85%;
    }
  }

  @media screen and (max-width: 380px) {
    .nav-items{
        right: -5.5em;
    }
    .to-hide{
        display: none;
    }
  }


  @media screen and (max-width: 355px) {
    .ellipsis{
        font-size: 1.5em;
        right: 0;
    }
    .to-hide{
        display: none;
    }
    .logo{
        font-size: 1.3em;
        left: 10px;
    }
    .nav-items li{
        font-size: 0.9em;
        padding: 0.9em;
    }
    .nav-items{
        right: -4.8em;
    }

    .upload-view-container{
        width: 260px;
        height: 480px;
    }
    .upload-image-container{
        height: 180px;
        width: 80%;
    }

    .back{
        left: 7px;
        font-size: 2em;
    }
    .nav-search input{
        margin-top: 5em;
        padding: 0;
    }
    .search-results-container{
        margin-top: 3em;
        width: 100%;
    }
  }

  @media screen and (max-width: 260px) {
    .upload-view-container{
        width: 230px;
        height: 480px;
    }
    .upload-image-container{
        height: 180px;
        width: 78%;
    }

   
  }

