.search-container{
    height: 100%;
    width: 100%;
    background-color: rgb(26, 26, 26);
    position: fixed;
    top: 0;
    z-index: 100; 
    display: none;

}


.search-results-container{
    height: 90%;
    width: 30%;
    position: fixed;
    top: 3em;
    z-index: 100;
    position: relative;
    left: 50%;
    transform: translate(-50%);

}

.search-result{
    color: white;
    display: flex;
    align-items: center;
    padding: 1em;
    border-bottom: 1px solid rgba(128, 128, 128, 0.445);

}

.search-profile-pic{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 1px solid white;
}

.search-username{
    margin-left: 1em;
    align-self: center;
}

.username-light{
    font-size: 0.9em;
    color: rgb(192, 192, 192);
}

.user-result{
    display: flex;
}

.username1{
    color: white;
}

.back{
    color: white;
    font-size: 4em;
    top: 1em;
    left: 2em;
    cursor: pointer;
    position: fixed;
}

.search-caption{
    color: white;
    position: absolute;
    top: 6%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    text-align: center;
}



.nav-search1{
    position: absolute;
    align-self: center;
    color: white;
    justify-content: center;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    display: none;
}
.nav-search1 input{
    background-color: black;
    height: 2em;
    width: 22em;
    border: 1px solid whitesmoke;
    border-radius: 2px;
    color: white    ;
}

.nav-search1 input::placeholder {
    color: white; 
    font-style: italic; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.8;

}