body{
    background-color: rgb(0, 0, 0);
    overflow-x: hidden;
}
/* Style for the scrollbar track */
*::-webkit-scrollbar {
    width: 0.1em;
    height: 5px;
  }
  
  
  /* Style for the scrollbar thumb */
  *::-webkit-scrollbar-thumb{
    background-color: rgb(255, 255, 255); 
    border-radius: 5px;   
  }
  
  /* Style for the scrollbar track on hover */
  *::-webkit-scrollbar-track:hover{
    background-color: #000000; 
  }
  
  /* Style for the scrollbar thumb on hover */
  *::-webkit-scrollbar-thumb:hover{
    background-color: rgba(245, 222, 179, 0.765); 
  }

.main-content{
    width: 70%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    margin-left: 2em;
    overflow: hidden;
    display: flex;

}
.newsfeed-user-post{
    background-color: rgb(0, 0, 0);
    margin-bottom: 2em;
    width: 100%;
    margin-left: 3em;
    overflow-x: hidden;
    position: relative;

}
.uploader-profile{
    width: 60px;
    height: 60px;
    overflow:hidden;
    border-radius: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;
}


.uploader-profile img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.uploaded-content{
    max-width: 45em;
}
.photo-uploaded{
    width: 100%;
    margin-top: 0.5em;
    border-radius: 6px;
    object-fit: cover; 

}
.ellipsis{
    color: rgb(177, 177, 177);
    position: absolute;
    margin-top: -1em;
    font-weight: bold;
    font-size: 2em;
    cursor: pointer;
    right: 2em;

}
.ellipsis:hover{
    color: white;
}
.uploader-username{
    color: white;
    position: absolute;
    margin-top: -3em;
    margin-left: 4.5em;
    font-weight: bold;
    font-family:'Times New Roman', Times, serif;
    cursor: pointer;
}


.sub-context{
    color: rgba(255, 255, 255, 0.651);
    position: absolute;
    margin-top:  -1.5em;
    margin-left: 4.5em;
    font-style: italic;
}

.icon-button {
    background: none;
    border: none;
    color: #b1b1b1;
    font-size: 1.5em;
    margin: 0.5em;
    cursor: pointer;
}

.icon-button:hover {
    color: #ff6565;
}
.comment{
    margin-bottom: 1em;
    color: white;
    border-bottom: 1px solid rgba(248, 248, 255, 0.098);
}

.comments-container{
    height: 7em;
    width: 90%;
}
.comment-profile-pic{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover; 
}
.comment-text{
    position: absolute;
    margin-top: -2em;
    margin-left: 3em;
}

.like-comment{
    position: absolute;
    margin-top: 0.3em;
    font-size: 1.5em;
    background: none;
    border: none;
    color: #b1b1b1;
    cursor: pointer;
    margin-left: 29%
}
.like-comment:hover{
    color: #ff6565;
}



.side-content{
    height: 38em;
    width: 29em;
    position: fixed;
    right: 2em;
    top: 5em;
    transition: top 0.3s ease;

}

.loggedin-user-profile {
    min-width: 80px;
    min-height: 80px;
    overflow:hidden;
    margin-left: 1em;
    padding: 5px;
}

.loggedin-user-profile img {
    width: 70px;
    height: 70px;
    object-fit: cover; 
    border-radius: 50%;
}
.loggedin-username{
    position: absolute;
    margin-left: 0.5em;
    margin-top: 1em;
    color: white;
    font-weight: bold;
}

.loggedin-user-info{
    position: absolute;
    margin-left: 0.6em;
    margin-top: 2.3em;
    color: white;
    font-style: italic;
    font-size: 0.9em;
}

.suggestions-for-you{
    color: rgb(215, 215, 215);
}

.see-all-suggestions{
    position: absolute;
    text-decoration: none;
    color: white;
    right: 1em;
    margin-top: -2.4em;
}
.suggested-user{
    margin-bottom: 0.5em;
    border-bottom: 1px solid rgba(255, 255, 255, 0.124);
}

.suggested-user-profile{
    height: 55px;
    width: 55px;
    border-radius: 50%;
}
.suggested-user-username{
    color: white;
    position: absolute;
    margin-top: 0.5em;
    margin-left: 0.3em;
    font-weight: bold;
    cursor: pointer;
}
.suggested-user-info{
    color: rgba(255, 255, 255, 0.596);
    position: absolute;
    font-size: 0.9em;
    margin-top: 2em;
    margin-left: 0.5em;
}
.follow-button{
    text-decoration: none;
    color: wheat;
    position: absolute;
    margin-top: 1em;
    right: 1em;

}

footer{
    position: absolute;
    height: 10em;
    width: 100%;
    bottom: 1em;
}
a{
    text-decoration: none;
}

.social-icons{
    display: flex;
}

.social-icons a{
    padding: 1em;
    padding-left: 0;
    color: rgba(255, 255, 255, 0.667);
}