body{
    background-color: rgb(26, 26, 26);
    overflow-x: hidden;
}
.user-profile-container{
    width: 100%;
    height: 100%;
    margin-top: 5em;
    color: white;
    justify-content: center;
    display: flex;

}

.user-profile-pic{
    width: 10em;
    height: 10em;
    border-radius: 50%;
    padding: 1em;
    margin-right: 1em;
}

.user-basic-info span{
    padding: 2em;
    padding-left: 0;
}

.user-top-info span{
    padding: 2em;
    padding-left: 0;
}

.user-top-info{
    margin-bottom: 1em;
}
.user-bio{
    padding: 2em;
    padding-left: 0;
}

.user-username{
    font-size: 1.4em;
    padding-left: 0;
}



.user-highlights-container{
    width: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    margin-top: 3em;
    display: flex;
    overflow-x: scroll;
    height: 10em;
    border-bottom: 1px solid rgb(55, 55, 55);

}

.highlight-user-profile{
    min-width: 70px;
    height: 70px;
    margin-left: 1em;
    padding: 5px;
}

.highlight-user-profile img{
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border: 3px solid wheat; 
    border-radius: 50%;
}

.highlight-text{
    color: white;
    text-align: center;
}

.user-posts-container-parent{
    display: flex;
    justify-content: center;
}
.user-posts-container {
    margin-top: 15em;
    display: grid;
    grid-template-columns: repeat(3, minmax(1em, 1fr));
    gap: 5px; 
    width: 75%; 
    justify-content: center;
}

.user-post {
    grid-column: span 1;
    height: 100%;
}

.user-post-front{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border: 1px solid #5f5f5f7d;
}

.bottom-nothing{
    height: 2em;
}

.edit-profile-button{
    background-color: #1f1f1f;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    padding: 10px;
    z-index: 10000;
}

.zero-post{
    color: white;
    font-size: 1.2em;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.edit-profile-button:hover{
    background-color: #000000;
    border: 1px solid #1f1f1f;
}

.edit-profile-form-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    background-color: rgb(49, 49, 49);
    height: auto;
    height: 50%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    overflow-y: auto;
    z-index: 100000;
    display: none;
}

.edit-profile-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.edit-profile-form input[type="date"]{
    background-color: transparent;
    width: 30%;
    padding: 10px;
    color: white;
    border: none;
    border-bottom: 1px solid #000000;
}

.edit-profile-form input[type="file"]{
    background-color: transparent;
    color: white;
    width: 50%;

}

.edit-profile-form-overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.741);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100000;
    display: none;
}

#profile_picture_preview{
    width: 100px;
    height: 100px;
    object-fit: contain;
    border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    right: 2em;
    top: 1em;
}


#profile_picture {
    display: none; 
    width: 100%; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px; 
}

.custom-file-upload {
    display: inline-block;
    padding: 10px;
    color: #fff;
    background-color: #1f1f1f;
    border-radius: 4px; 
    cursor: pointer;
    margin-bottom: 10px; 
    width: 12em;
}

.custom-file-upload:hover {
    background-color: #000000;
}


.edit-profile-form input:focus {
    border-color: #4CAF50; /* Change border color when focused */
    outline: none; /* Remove default outline */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Add a shadow for better visibility */
}

.edit-profile-form input[type="text"],
.edit-profile-form input[type="email"],
.edit-profile-form textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #000000;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: transparent;
    color: white;
}

.edit-profile-form button {
    background-color: #1f1f1f;
    color: white;
    border: none;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    width: 20%;
}

.edit-profile-form button:hover {
    background-color: #000000;
}

.edit-profile-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.edit-profile-form textarea {
    resize: vertical;
    min-height: 100px;
}


.user-basic-info{
    display: flex;
    padding: 0;
}

.user-followers, .user-following{
    order: 1;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 1em;
    margin: 0;
    cursor: pointer;
}


.posts-count, .following-counts, .followers-counts{
    margin: 0;
    padding: 0;
}

.info{
    margin: 0;
    padding: 0;
    font-weight: bolder;
    font-size: 1.1em;
}

.user-posts-count{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-basic-info p{
    text-align: center;
}

.user-bio{
    padding: 0;
    margin-top: 1em;
}


.user-follow-button, .user-message-button{
    background-color: #1f1f1f;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    padding: 10px;
    margin-top: 1em;
    margin-right: 1em;
    border: 1px solid rgba(245, 222, 179, 0.448);
    width: 6em;
}

.user-follow-button:hover, .user-message-button:hover{
    background-color: #000000;
}

.post-details-overlay{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #00000072;
    top: 0;
    z-index: 10000;
    display: none;
}

.post-details-container{
    z-index: 100000;
    position: fixed;
    width: 80%;
    height: 90%;
    background-color: rgb(34, 34, 34);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid rgb(34, 34, 34);
    display: none;
}




.post-img-container {
    width: 55%;
    overflow: hidden; 
    position: relative; 
    background-color: rgb(26, 26, 26);
}

.post-img-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute; 
    top: 0;
    left: 0;
}


.post-interactions-container{
    width: 45%;
    position: relative;
}


.post-info {
    padding: 1em;
    display: flex;
    padding-bottom: 0;
    align-items: center;
}



.post-caption{
    color: white;
    padding-bottom: 0;
}

.caption-text{
    color: white;
    padding: 1em;
    padding-top: 0;
    padding-bottom: 0;
    word-break: break-word; /* Breaks long words onto the next line */
    overflow-wrap: break-word;
}

.post-follow a{
    color: wheat;
    text-decoration: none;
    margin-left: 1em;

}

.post-details-ellipsis{
    color: white;
    position: absolute;
    right: 1em;
    font-size: 1.4em;
    cursor: pointer;
}

.post-username{
    color: white;
    margin-left: 1em;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
}

.post-info img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
}

.post-comments-container{
    height: 58%;
    overflow-y: scroll;
    border-top: 1px solid #5f5f5f7d;
    padding-top: 1em;
}



.post-comment-container{
    padding: 1em;
    padding-bottom: 0;
    padding-top: 0;
}
.post-comment-user-details{
    display: flex;
    align-items: center;
}

.likes-count{
    color: white;
    font-size: 1em;
}
.comment-username{
    margin-right: 1em;
    font-weight: bold;
    cursor: pointer;

}

.comment-text1{
    color: white;
    padding-left: 10px;
    word-break: break-word; /* Breaks long words onto the next line */
    overflow-wrap: break-word;
    padding-bottom: 0.5em;
}

.comment-interactions-container{
    display: flex;
    margin-left: 3em;
    padding-bottom: 0;
}

.comment-interactions-container span{
    padding: 0.5em;
    padding-top: 0;
    margin-top: -0.5em;
    color: rgb(128, 128, 128);
    cursor: pointer;
    font-size: 0.87em;
}


.interact-to-post{
    position: absolute;
    bottom: 0;
    width: auto;
    width: 100%;
    padding-top: 1em;
    cursor: pointer;
    border-top: 1px solid #5f5f5f7d;
    background-color: rgb(34, 34, 34);

}

.post-date{
    color: rgb(161, 161, 161);
    margin-left: 1em;
    font-size: 0.7em;
}

.comment-input {
    display: block;
    width: 85% !important;
    height: auto;
    padding-left: 1em;
    font-size: 1em;
    background-color: transparent;
    border: none;
    color: white !important;
    padding-right: 0;
    position: relative
}

.emojionearea-editor{
    min-height: 3em !important;
    max-height: 6em !important;
}

.emojionearea-search input{
    background-color: rgb(47, 47, 47) !important;
    color: white !important;

}

.emojionearea .emojionearea-picker div{
    background-color: rgb(47, 47, 47) !important;
    color: white !important;
}
.emojionearea-search-panel{
    background-color: rgb(47, 47, 47) !important;
    color: white !important;
}

.emojionearea-picker{
    background-color: rgb(47, 47, 47) !important;
}




.emoji-close-button{
    position: absolute;
    color: rgb(207, 207, 207);
    top: 50%;
    transform: translate(-55%);
    font-size: 1.5em;
    left: 1em;
    display: none;
}
.cat-emoji{
    position: absolute;
    color: rgb(207, 207, 207);
    top: 50%;
    transform: translate(-55%);
    left: 1.5em;
}


.emojionearea-editor{
    color: white !important;
    padding-right: 0 !important;
    width: 100% !important;
}


.emojionearea {
    position: relative; /* Ensure the container can be used for absolute positioning */
}

.emojionearea .emojionearea-button {
    position: absolute;
    left: 0; /* Position the emoji button to the left */
    top: 50%;
    transform: translateY(-50%); /* Center vertically */
    z-index: 1; /* Ensure it stays on top of other elements */
    padding-left: 1em;
    opacity: 0;
}

.emojionearea .emojionearea-button:hover {
    opacity: 0;
    cursor: pointer;
}

.emojionearea .emojionearea-editor {
    padding-left: 2em; 
}




.interact-buttons span{
    color: white;
    font-size: 1em;
    padding: 1em;
    margin-top: 1em ;

}

.comment-input:focus {
    outline: none;
    border: none;
}


.replies-container {
    padding-left: 2.5em; /* Indent replies */
    margin-top: 10px;
    font-size: 0.9em;
}



.far.fa-heart {
    color: white; /* Default color for unliked state */
}

.fas.fa-heart {
    color: rgb(255, 91, 91); /* Color for liked state */
}

.post-comments-container1{
    display: flex;
    align-items: center;
}


.comment-post-button{
    color: rgb(207, 207, 207);
    padding: 1em;
    padding-left: 6px;
}
.cat-emoji{
    width: 1.5em;
}





@media screen and (max-width: 900px) {
    .user-profile-pic{
        width: 8em;
        height: 8em;
    }
}

@media screen and (max-width: 700px) {
    .user-highlights-container{
        width: 70%;
    }
    .highlight-text, .user-basic-info{
        font-size: 0.9em;
    }
    .user-posts-container{
        width: 80%;
    }
}



@media screen and (max-width: 550px) {
    .user-profile-pic{
        width: 7em;
        height: 7em;
    }
    .user-top-info{
        font-size: 0.9em;
    }
    .highlight-text{
        font-size: 0.85em;
    }
    .user-posts-container{
        width: 90%;
    }
    .user-highlights-container{
        width: 90%;
        margin-top: 1em;
    }

}

@media screen and (max-width: 490px) {
    .user-posts-container{
        width: 97%;
    }
}